/* style of parenthesis - Black */
.paren {
    -fx-fill: black;
    -fx-font-weight: bold;
}

/* style of brackets - Black */
.bracket {
    -fx-fill: black;
    -fx-font-weight: bold;
}

/* style of braces - Black */
.brace {
    -fx-fill: black;
    -fx-font-weight: bold;
}